<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="tab2">
      <ion-icon name="ellipse"></ion-icon>
      <ion-label>Countries</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="square"></ion-icon>
      <ion-label>Continent</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>