<ion-card *ngFor ="let data of country" class="card-radius">
  <img src="{{data.countryInfo.flag}}" class="img">
  <ion-card-header>
    <ion-card-title>{{data.country}}</ion-card-title>
    <ion-card-subtitle>{{data.continent}}</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <ion-card-subtitle>Population : {{data.population}}</ion-card-subtitle>
          <ion-card-subtitle>Total Case : {{data.cases}}</ion-card-subtitle>
          <ion-card-subtitle>Active Case : {{data.active}}</ion-card-subtitle>
          <ion-card-subtitle>Today Case : {{data.todayCases}}</ion-card-subtitle>
        </ion-col>
        <ion-col size="6">
          <ion-card-subtitle>Total Death : {{data.deaths}}</ion-card-subtitle>
          <ion-card-subtitle>Today Death : {{data.todayDeaths}}</ion-card-subtitle>
          <ion-card-subtitle>Total Recovered : {{data.recovered}}</ion-card-subtitle>
          <ion-card-subtitle>Today Recovered : {{data.todayRecovered}}</ion-card-subtitle>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>