<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Countries
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Countries</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-covid-all-country [country]="countries"></app-covid-all-country>
</ion-content>