<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
     Global Case
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>
  <app-global-case name="Tab 2 page"></app-global-case>
</ion-content>
