<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Continent
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Continent</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-covid-continent [continent]="continent"></app-covid-continent>
</ion-content>
